<html>
    <head>
        <title>My Face 2.0</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/index.css" type="text/css">
        <script type="text/javascript">
        function timeStampGen(tempUpdated){
            var min = Math.floor(Date.parse(tempUpdated)/1000/60)%60
            var hour = Math.floor(Date.parse(tempUpdated)/1000/60/60)%24
            var halfDay = Math.floor(hour/12)
            if (halfDay == 0){
                tempUpdate = String(hour) + ":" + String(min) + " AM"
            }
            else {
                tempUpdate = String(hour - 12) + ":" + String(min) + " PM"
            }
            if (Date.parse(tempUpdated) > Date.now() - 1000 * 3600 * 24 * 7 && ) {
                tempUpdate = tempUpdated.split(",")[0].split(" ") + " at " + tempUpdate
            }
            else if (Date.parse(tempUpdated) > Date.now() - 1000 * 3600 * 24 * 365) {
                tempUpdate = String(tempUpdated.split(",")[1].split(" ")[2]) + " " + String(tempUpdated.split(",")[1].split(" ")[1]) + " at " + tempUpdate
            }
            else {
                tempUpdate = String(tempUpdated.split(",")[1].split(" ")[2]) + " " + String(tempUpdated.split(",")[1].split(" ")[1]) + ", " + String(tempUpdated.split(",")[1].split(" ")[3]) + " at " + tempUpdate
            }
            return tempUpdate
        }
        $.get('/newwall_json', function(data) {
            var messageIdArr = []
            console.log(data.data[1]);
            var messageStr = "";
            var j = 0
            for (var i = 0; i < data.data[0].length; i++) {
                var updated = ""
                if (data.data[0][i]['created_at'] != data.data[0][i]['updated_at']){
                    var tempUpdated = data.data[0][i]['updated_at']
                    updated = " Last updated at: " + timeStampGen(tempUpdated)
                }
                else{
                    tempUpdated = data.data[0][i]['created_at']
                    updated = timeStampGen(tempUpdated)
                }
                messageStr += "<div class='row'><div class='col-xs-10'><h2 class = 'Name'>" + data.data[0][i].first_name + " " + data.data[0][i].last_name +  "<span class = 'messageTimeStamp'> &nbsp " + updated + "</span></h2></div>";
                if (data.data[2] ==  data.data[0][i].id){
                    messageStr += "<div class='col-xs-2'><form class='pull-right btn-group-sm' action='/wall/post/" + data.data[0][i].message_id + "' method='get'><input type='submit' value='Delete' class='btn btn-warning delete deleteButton'></form>"
                    messageStr += "<div class='pull-right btn-group-sm'><input id='messageEditButton" + data.data[0][i].message_id + "' type='button' value='Edit' class='btn btn-success delete editButton'></div></div>";
                    // "<form class='pull-right btn-group-sm' action='/wall/post/" + data.data[0][i].message_id + "' method='post'><input type='submit' value='Edit' class='btn btn-success delete deleteButton'></form></div>";
                }
                messageStr += "</div><div id=messageid" + data.data[0][i].message_id + "><p>" + data.data[0][i].message + "</p></div>"
                messageStr += "<div class='row'><div class='col-xs-1'></div><div class='col-xs-11'>";
                while (j < data.data[1].length && data.data[1][j].message_id == data.data[0][i].message_id) {
                    if (data.data[1][j]['created_at'] != data.data[1][j]['updated_at']){
                        var tempUpdated = data.data[1][j]['updated_at']
                        updated = " Last updated at: " + timeStampGen(tempUpdated)
                    }
                    else{
                        tempUpdated = data.data[1][j]['created_at']
                        updated = timeStampGen(tempUpdated)
                    }
                    messageStr += "<div class='row'><div class='col-xs-10'><h2 class = 'Name'>" + data.data[1][j].first_name + " " + data.data[1][j].last_name +  "<span class = 'messageTimeStamp'> &nbsp " + updated + "</span></h2></div>";
                    if (data.data[2] ==  data.data[1][j].user_id){
                        messageStr += "<div class='col-xs-2'>"
                        messageStr += "<form class='pull-right btn-group-sm' action='/wall/comment/" + data.data[1][j].comment_id + "' method='get'><input type='submit' value='Delete' class='btn btn-warning delete deleteButton'></form>";
                        messageStr += "<div class='pull-right btn-group-sm'><input id='commentEditButton" + data.data[1][j].comment_id + "' type='button' value='Edit' class='btn btn-success delete editButton'></div></div>";
                        // "<form class='pull-right btn-group-sm' action='/wall/comment_edit/" + data.data[1][j].comment_id + "' method='post'><input type='submit' value='Edit' class='btn btn-success delete deleteButton'></form></div>";
                    }
                    messageStr += "</div><div id=commentid" + data.data[1][j].comment_id + "><p>" + data.data[1][j].comment + "</p></div>";
                    j++
                }
                messageStr += "<br><form id='comment" + data.data[0][i].message_id + "' action='/wall/comment/" + data.data[0][i].message_id + "' method='post'><div class='form-group'>"
                messageStr += "<textarea id ='commentBox" + data.data[0][i].message_id + "' class='form-control' name='comment' rows='6' placeholder='Post a reply to " + data.data[0][i].first_name + "'></textarea></div>"
                messageStr += "<input type='submit' value='Reply' class='btn btn-default'></form>"
                messageStr += '</div></div>';
                messageIdArr.push(data.data[0][i].message_id)
            }

            $('#messagesBox').html(messageStr);

            for (var i = data.data[0].length - 1; i >= 0 ; i--) {
                var boxId  = "commentBox" + messageIdArr[i]
                document.getElementById(boxId).addEventListener('keypress', function (e) {
                    var key = e.which || e.keyCode;
                    if (key === 13) { // 13 is enter
                        var formId = "comment"
                        for (var j = 10; j < e.target.id.length; j++){
                            formId += e.target.id[j]
                        }
                        document.getElementById(formId).submit()
                    }
                });
            }

            var editButtons = document.getElementsByClassName("editButton")

            for (var i = 0; i <editButtons.length; i++){
                editButtons[i].addEventListener('click', function (e){
                    console.log(e.target.className[e.target.className.length - 8]);
                    if (e.target.className[e.target.className.length - 1] != "d" && e.target.className[e.target.className.length - 8] != "d"){
                        editTextBox(this.id, e.target);
                    }
                });
            }
        }, 'json');

        function editTextBox(target, activeTarget){
            var tempNumber = ""
            for (var i = 17; i < target.length; i++){
                tempNumber += target[i]
            }
            var tempEditId = ""
            var editType = ""
            if (target[0] == "m") {
                tempEditId = "#messageid" + tempNumber
                editType = "post"
            }
            else {
                tempEditId = "#commentid" + tempNumber
                editType = "comment_edit"
            }
            var messageText = $(tempEditId).html()
            var textBoxText = ""
            for (var i = 3; i < messageText.length - 4; i++){
                textBoxText += messageText[i]
            }
            var textBoxStr = "<br><form id='" + editType + tempNumber + "' action='/wall/" + editType + "/" + tempNumber + "' method='post'><div class='form-group'>"
            textBoxStr += "<textarea id ='" + editType + "Box" + tempNumber + "' class='form-control' name='editBox' rows='6'>" + textBoxText + "</textarea></div><input type='submit' value='Edit' class='btn btn-default'></form>"
            $(tempEditId).html(textBoxStr)
            target = "#" + target
            activeTarget.className += " disabled";
            var formId = editType + tempNumber
            var boxId = editType + "Box" + tempNumber
            document.getElementById(boxId).addEventListener('keypress', function (e) {
                var key = e.which || e.keyCode;
                if (key === 13) { // 13 is enter
                    document.getElementById(formId).submit()
                }
            });
        }

        window.onresize = displayWindowSize;
        window.onload = displayWindowSize;
        function displayWindowSize() {
            screenWidth = window.innerWidth;
            screenHeight = window.innerHeight;
        };
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header" id = "my-navbar-header">
                    <a class="navbar-brand" href="/">My Face 2.0</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/wall">{{session['first_name']}}'s Wall</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/message">Messages</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id = "my-navbar-right">
                    <li><a href="/profile">Welcome {{session['first_name']}} {{session['last_name']}}</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> &nbsp Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="message" action="/wall/post" method="post">
                        <div class="form-group">
                            <textarea id ="messageBox" class="form-control" name="message" rows="7" placeholder="Post a message on the wall!"></textarea>
                        </div>
                        <input type="submit" value="Post on Wall" class="btn btn-default">
                        <script type="text/javascript">
                            document.getElementById("messageBox").addEventListener('keypress', function (e) {
                                var key = e.which || e.keyCode;
                                if (key === 13) { // 13 is enter
                                    document.getElementById("message").submit()
                                }
                            });

                        </script>
                    </form>
                </div>
            </div>
            <div id="messagesBox">
            </div>
        </div>
    </body>
</html>
