<html>
    <head>
        <title>My Face 2.0</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/index.css" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header" id = "my-navbar-header">
                    <a class="navbar-brand" href="/">My Face 2.0</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/wall">{{session['first_name']}}'s Wall</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li class="active"><a href="/profile">Profile</a></li>
                    <li><a href="/message">Messages</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id = "my-navbar-right">
                    <li><a href="/profile">Welcome {{session['first_name']}} {{session['last_name']}}</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> &nbsp Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Edit Information:</h2>
                    <p class = "success">{{ get_flashed_messages(category_filter=["info_success"])[0] }}</p>
                    <form action="/process/{{session['user']}}" method='POST'>
                        <input type="hidden" name="type" value="edit_info">
                        <div class="form-group">
                            <label for="email">Email address:</label> <p class = "error">{{get_flashed_messages(category_filter=["email_err"])[0]}}</p>
                            <input type="email" name = "email" class="form-control" id="email" value= {{get_flashed_messages(category_filter=["email"])[0]}}>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name:</label> <p class = "error">{{get_flashed_messages(category_filter=["first_name_err"])[0]}}</p>
                            <input type="text" name = "first_name" class="form-control" id="first_name" value= {{get_flashed_messages(category_filter=["first_name"])[0]}}>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name:</label> <p class = "error">{{get_flashed_messages(category_filter=["last_name_err"])[0]}}</p>
                            <input type="text" name = "last_name" class="form-control" id="last_name" value= {{get_flashed_messages(category_filter=["last_name"])[0]}}>
                        </div>
                        <button type="submit" class="btn btn-default">Edit Info</button>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <h2>Update Password:</h2>
                    <p class = "success">{{ get_flashed_messages(category_filter=["pass_success"])[0] }}</p>
                    <form action="/process/{{session['user']}}" method='POST'>
                        <input type="hidden" name="type" value="edit_pass">
                        <div class="form-group">
                            <label for="pwd">Password:</label> <p class = "error">{{get_flashed_messages(category_filter=["password_err"])[0]}}</p>
                            <input type="password" name = "password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="confirm">Password Confirmation: </label><p class = "error">{{ get_flashed_messages(category_filter=["confirm_err"])[0] }}</p>
                            <input type="password" name = "confirm" class="form-control" id="confirm">
                        </div>
                        <button type="submit" class="btn btn-default">Update</button>
                    </form>
                </div>
            </div>
            <p>
                &nbsp
            </p>
            <div class="row">
                <div class="col-md-12">
                    <h2>Edit Description:</h2>
                    <p class = "success">{{ get_flashed_messages(category_filter=["desc_success"])[0] }}</p>
                    <form id="message" action="/process/{{session['user']}}" method="post">
                        <input type="hidden" name="type" value="edit_desc">
                        <div class="form-group">
                            <textarea id ="messageBox" class="form-control" name="description" rows="7" placeholder="Add something interesting to your profile">{% if get_flashed_messages(category_filter=["description"])[0] != none %}{{ get_flashed_messages(category_filter=["description"])[0] }}{% endif %}</textarea>
                        </div>
                        <input type="submit" value="Edit Description" class="btn btn-default">
                        <script type="text/javascript">
                            document.getElementById("messageBox").addEventListener('keypress', function (e) {
                                var key = e.which || e.keyCode;
                                if (key === 13) { // 13 is enter
                                    document.getElementById("message").submit();
                                };
                            });
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
