<html>
    <head>
        <title>My Face 2.0</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src = "../static/bootstrap3-typeahead.js" type="text/javascript">

        </script>
        <link rel="stylesheet" href="/static/index.css" type="text/css">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var mapSocket = io.connect('http://localhost:5000/map')
            mapSocket.on('set_location', function(location){
                console.log("moodsfadsf");
                console.log(location);
                setLocation(location.location)
            });
            function setLocation(latlng){
                if (true){
                    click = true
                    geocodeLatLng(geocoder, map, infowindow, latlng, click)
                }
            }
            var scrolled = false;
            var users_1 = {};
            function importFriends(friends){
                users_1 = friends.friends
            }
            $.get('/grabfriends', function(friends){
                importFriends(friends)
                $('#searchBar').typeahead( {
                   source: users_1,
                    matcher: function(item) {
                        for (var attr in item) {
                            console.log(attr);
                        if (~item[attr].toString().toLowerCase().indexOf(this.query.toLowerCase()))			return true
                        }
                            return false
                    },
                    displayText: function(item) {
                        return JSON.stringify(item)
                    },
                    highlighter: function(item) {
                        item = JSON.parse(item)
                        return '<span><h4>'+item['first_name'] + " " + item['last_name'] + '</h4>' + ' ' + item.label +'</span>'
                   },
                    afterSelect: function(item) {
                        this.$element[0].value = item['first_name'] + " " + item['last_name']
                        document.getElementById('User_ID').value = item['id']
                   }
                })
            }, 'json');
            var clicked;
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip({
                    animation: true
                });
                $( "#search_hide" ).click(function(){searchHide()});
                $( "#message_hide" ).click(function(){messageHide()});
                function searchHide() {
                    if (document.getElementById("search_overlay").style.display === "none") {
                        $("#search_hide").animate({marginLeft:300},350)
                    }
                    else {
                        $("#search_hide").animate({marginLeft:0},350);
                    }
                    $("#search_overlay").animate({width:'toggle'},350);
                }
                function messageHide() {
                    if (clicked){
                        $("#message_hide").animate({marginRight:398, marginBottom:window.innerHeight - 119},350);
                        clicked = false
                    }
                    else {
                        $("#message_hide").animate({marginRight:45, marginBottom:15},350);
                        clicked = true
                    }
                    $("#chat_area").animate({width:'toggle', height:'toggle'},350);
                }
                // setTimeout(searchHide, 900)
                // setTimeout(messageHide, 900)
            });
            function timeStampGen(tempUpdated){
                var months = {0: 'Jan ', 1: 'Feb ', 2: 'Mar ', 3: 'Apr ', 4: 'May ', 5: 'Jun ', 6: 'Jul ', 7: 'Aug ', 8: 'Sep ', 9: 'Oct ', 10: 'Nov ', 11: 'Dec '}
                var days = {1: 'Mon ', 2: 'Tue ', 3: 'Wed ', 4: 'Thu ', 5: 'Fri ', 6: 'Sat ', 7: 'Sun '}
                var tempTimeStamp = new Date(tempUpdated * 1000)
                var min = ('0' + tempTimeStamp.getMinutes()).slice(-2)
                var hour = tempTimeStamp.getHours()
                var ampm = ' AM'
                if (hour > 12) {
                    hour = hour - 12;
                    ampm = ' PM';
                } else if (hour === 12) {
                    hour = 12;
                    ampm = ' PM';
                } else if (hour == 0) {
                    hour = 12;
                }
                day = days[tempTimeStamp.getDay()]
                month = months[tempTimeStamp.getMonth()]
                dd = String(('0' + tempTimeStamp.getDate()).slice(-2))
                mm = String(('0' + (tempTimeStamp.getMonth() + 1)).slice(-2))
                yy = String(tempTimeStamp.getFullYear()).slice(-2)
                if ( tempUpdated > (Date.now() - 1000 * 3600 * 24 )/1000){
                    tempUpdated = String(hour) + ":" + String(min) + ampm
                }
                else if (tempUpdated > Date.now()/1000 - 1000 * 3600 * 24 * 7) {
                    tempUpdated = day + String(hour) + ":" + String(min) + ampm
                }
                else if (tempUpdated > Date.now()/1000 - 1000 * 3600 * 24 * 365) {
                    tempUpdated = month + dd + " " + String(hour) + ":" + String(min) + ampm
                }
                else {
                    tempUpdated = mm + "/" + dd + "/" + yy + " " + String(hour) + ":" + String(min) + ampm
                }
                return tempUpdated
            }
            function messageFormatter(messages){
                var messageStr = "";
                messageStr += '<div class="row">';
                timeStamp = timeStampGen(messages.created_at)
                if (messages.id == {{session['user']}}){
                    messageStr += '<div class="name_col right-message"><p class="bold">' + messages.first_name.slice(0,3)
                    messageStr += '</p></div><div class="messages left-message"><p data-toggle="tooltip" title="' + timeStamp + '" data-placement="top">'
                    messageStr += messages.message + '</p></div>'
                }
                else {
                    messageStr += '<div class="messages_space"></div><div class="messages right-message"><p data-toggle="tooltip" title="' + timeStamp + '" data-placement="top">'
                    messageStr += messages.message + '</p></div>'
                    messageStr += '<div class="name_col left-message"><p class="bold">' + messages.first_name.slice(0,3) + '</p></div>'
                }
                messageStr +='</div>'
                return messageStr
            }
            $.get('/grabMessages/{{user_id}}', function (messages) {
                var messageStr = "";
                for(var i = 0; i < messages.messages.length; i++) {
                    messageStr += messageFormatter(messages.messages[i])
                }
                $('#chatbox').html(messageStr);
            }, 'json');
            var chat = io.connect('http://localhost:5000/chat')
            chat.on('chat_message', function(message){
                if ({{user_id}} == message.id || {{session['user']}} == message.id){
                    var messageStr = messageFormatter(message);
                    $('#chatbox').append(messageStr);
                    $('body').tooltip({
                        selector: '[data-toggle=tooltip]'
                    });
                    updateScroll()
                }
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header" id = "my-navbar-header">
                    <a class="navbar-brand" href="/">My Face 2.0</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/wall">{{session['first_name']}}'s Wall</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li class="active"><a href="/message">Messages</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id = "my-navbar-right">
                    <li><a href="/profile">Welcome {{session['first_name']}} {{session['last_name']}}</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> &nbsp Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div id="search_hide" style="margin: 109px 0 0 300px">
            <button type="button" id = "search_hide_button"><span class="glyphicon glyphicon-align-justify"></span></button>
        </div>
        <div id="search_overlay">
            <form id="search" action="/search" method="post">
                <div class="form-group">
                    <div id="scrollable-dropdown-menu">
                        <input type="hidden" id = "User_ID" name="id" value="0">
                        <input type="text" class="form-control typeahead" id="searchBar" name = "searchBar" autocomplete="off" placeholder="Search for people">
                    </div>
                </div>
                <script type="text/javascript">
                    document.getElementById("searchBar").addEventListener('keypress', function (e) {
                        var key = e.which || e.keyCode;
                        if (key === 13) { // 13 is enter
                            scrolled = false;
                            updateScroll()
                            document.getElementById("search").submit()
                        }
                    });
                </script>
            </form>
            <div style="height: 1000px" id="usersMessaged">
                {% if users %}
                    {% for user in users%}
                        <a href="/message/{{user['id']}}" class="messagedUsers" id = "user_{{user['id']}}">
                            <div>
                                <h3>
                                    {{user['friend_first_name']}} {{user['friend_last_name']}}
                                </h3>
                                {% if user['message'] %}
                                    <p>
                                        {{user['message'][0:100]}}
                                    </p>
                                    <p>
                                        <span>Posted at: {{user['created_at'].strftime('%b %d, %Y %l:%M%p')}}</span>
                                    </p>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if user %}
        <div id="message_hide">
            <button type="button" id = "search_hide_button"><span class="glyphicon glyphicon-align-justify"></span></button>
        </div>
            <div style="height: 1000px" id="chat_area">
                <div class="row">
                    <button type="button" id = "message_hide_button"><span class="glyphicon glyphicon-align-justify"></span></button>
                    <h3 class = "text-center">{{user[0]['first_name']}} {{user[0]['last_name']}}</h3>
                </div>
                <div class="row">
                </div>
                <div style="height: 1000px" id="chatbox_wrapper">
                    <div style="max-height: 1000px; width: 380px" id="chatbox">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- action='/message/{{user_id}}/send' -->
                        <form id="message"  method="post">
                            <div class="form-group">
                                <textarea id ="messageBox" class="form-control" name="message" rows="1" placeholder="Send {{user[0]['first_name']}} a message..." autofocus></textarea>
                            </div>
                            <script type="text/javascript">
                                document.getElementById("messageBox").addEventListener('keypress', function (e) {
                                    var key = e.which || e.keyCode;
                                    if (key === 13) { // 13 is enter

                                        chat.emit('chat_message', {'message': document.getElementById('messageBox').value, 'id': '{{session['user']}}', 'first_name': '{{session['first_name']}}', 'last_name': '{{session['last_name']}}', 'friendId': '{{user_id}}'});
                                        $.post('/message/{{user_id}}/send', $('#message').serialize(),
                                        function(data, status){
                                            if (status == "success"){
                                                document.getElementById('messageBox').value = "";
                                                updateScroll()
                                            } else {
                                                alert("Lost connection, please reload")
                                            }
                                        });
                                    }
                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <input id="map_search_bar" class="controls" type="text" placeholder="Search Box">
        <div id="map" style="width:100%;height:500px"></div>
        <script type="text/javascript">
            window.onresize = displayWindowSize;
            window.onload = displayWindowSize;
            function chatHideButton() {
                return window.innerHeight - 137;
            }
            function displayWindowSize() {
                screenWidth = window.innerWidth;
                screenHeight = window.innerHeight;
                document.getElementById("map").style.height = String(screenHeight - 52) + "px";
                document.getElementById("search_overlay").style.height = String(screenHeight - 137) + "px";
                // document.getElementById("usersMessaged").style.height = String(screenHeight - 137) + "px";
                {% if users %}
                    document.getElementById("chat_area").style.height = String(screenHeight - 127) + "px";
                    document.getElementById("chatbox").style['max-height'] = String(screenHeight - 178) + "px";
                    // document.getElementById("chatbox_wrapper").style.height = String(document.getElementById("message").offsetWidth) + "px";
                    document.getElementById("chatbox_wrapper").style.height = String(screenHeight - 178) + "px";
                    if (!clicked) {
                        document.getElementById("message_hide").style.marginBottom = String(screenHeight - 119) + "px";
                    }
                    updateScroll()
                {% endif %}
                var center = map.getCenter();
                google.maps.event.trigger(map, 'resize');
                map.setCenter(center);
            };
            function updateScroll(){
                var element = document.getElementById("chatbox");
                element.scrollTop = element.scrollHeight;
            }
        var marker;
        var location;
        var map;
        var geocoder;
        var infowindow;
        var address
        var set = false
        var tutor = false
        function myMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: {lat: 40.731, lng: -73.997}
            });
            geocoder = new google.maps.Geocoder;
            infowindow = new google.maps.InfoWindow;
            // Create the search box and link it to the UI element.
            var input = document.getElementById('map_search_bar');
            console.log(input);
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                var latlng = places[0].geometry.location
                geocodeLatLng(geocoder, map, infowindow, latlng);
            });
            google.maps.event.addListener(map, 'click', function(event) {
                var click = false
                geocodeLatLng(geocoder, map, infowindow, event.latLng, click);
            });
        }
        google.maps.event.addDomListener(window, "resize", function() {
           var center = map.getCenter();
           google.maps.event.trigger(map, "resize");
           map.setCenter(center);
        });
        function codeAddress(zipCode) {
            geocoder.geocode( { 'address': zipCode}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                map.setZoom(14);
              } else {
                alert("Geocode was not successful for the following reason: " + status);
              }
            });
        }
        function geocodeLatLng(geocoder, map, infowindow, latlng, click) {
            geocoder.geocode({'location': latlng}, function(results, status) {
              if (status === 'OK') {
                if (results[1]) {
                  map.setZoom(16);
                  if ( marker ) {
                    marker.setPosition(latlng);
                  } else {
                    marker = new google.maps.Marker({
                        position: latlng,
                        map: map

                    });
                  }
                  map.setCenter(latlng)
                  address = results[0].formatted_address
                  if(click){
                      content = address + "<br><a href='http://maps.google.com/maps?q=" + address + "'target='_blank'>Open in Google Maps</a><br> <a id='approve'>Approve</a>"
                      infowindow.setContent(content);
                      infowindow.open(map, marker);
                      document.getElementById("approve").addEventListener('click', function () {
                      });
                  }
                  else {
                      var content = address + "<br><a href='http://maps.google.com/maps?q=" + address + "'target='_blank'>Open in Google Maps</a><br><a id='set_location'>Set Location</a>"
                      infowindow.setContent(content);
                      infowindow.open(map, marker);
                      document.getElementById("set_location").addEventListener('click', function () {
                          mapSocket.emit('set_location', {"location": latlng, 'id': '{{session['user']}}', 'first_name': '{{session['first_name']}}', 'last_name': '{{session['last_name']}}', 'friendId': '{{user_id}}'});
                      });
                  }
                } else {
                  window.alert('No results found');
                }
              } else {
                window.alert('Geocoder failed due to: ' + status);
              }
            });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-uP-CtvmJ0iCk60YZ--YAHwgHSaWLkHw&libraries=places&callback=myMap" async defer></script>
    </body>
</html>
